<html>
  <head>
    <title>GoGi Canvas</title>
	<link rel="stylesheet" href="canvas.css" text="text/css">

  </head>
  <body>
  <canvas class="canvas" id="canvas" width="<%=w%>"  height="<%=h%>"></canvas>
  <canvas class="canvas" id="canvasEffect" width="<%=w%>"  height="<%=h%>"></canvas>  
  <div class="tool-menu" style="z-index:10000;">
	  <form action="/canvas" method="post">
		  <div class="inline"><input id="x" type="text" name="x" value="123" readonly></div>
		  <div class="inline" style="text-align: center;">
			  <div class="inline"><input class="color-picker" type="color" value="<%=col%>" name="color"></div>
			  <div class="tool-place"><button type="submit" class="button-place">Place</button></div>
		  </div>
		  <div class="inline"><input id="y" type="text" name="y" readonly>
	  </form>
  </div>
  
  <script>
        var canvas = document.getElementById("canvas")
	var canvasEffect = document.getElementById("canvasEffect")

        function decodeHTMLEntities(text) {
          var textArea = document.createElement('textarea');
          textArea.innerHTML = text;
          return textArea.value;
        }

        function select(x, y)
	{
	  if (x < 0 || x > 700)
	    return
	  if (y < 0 || y > 500)
	    return
	  document.getElementById("x").value = x
	  document.getElementById("y").value = y
	}
	function fill()
	{
                var bitmap = JSON.parse(decodeHTMLEntities("<%=bitmap%>"))
		var canvas = document.getElementById("canvas")
		var ctx = canvas.getContext('2d')
                for (var i = 0; i < bitmap.length; i++)
                        for (var j = 0; j < bitmap[i].length; j++)
                        {
                                let hex = "#000000"
                                if (bitmap[i][j] != 0)
                                  hex = bitmap[i][j]
                                let result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex)
                                let r = parseInt(result[1], 16)
                                let g = parseInt(result[2], 16)
                                let b = parseInt(result[3], 16)
                                ctx.fillStyle = "rgba(" + r + ", " + g + ", " + b + ", 1)"
                                ctx.fillRect(i, j, 1, 1)
                        }
	}
        fill()

        canvasEffect.addEventListener("mousedown", function(e) {
		var x = e.offsetX;
		var y = e.offsetY;
		var ctx = canvasEffect.getContext('2d')
		ctx.clearRect(0, 0, canvasEffect.width, canvasEffect.height);
		ctx.fillStyle = "rgba(255, 255, 255, 1)"
		ctx.fillRect(x, y, 1, 1)
		select(x, y)
	})

	</script>
  
  </body>
</html>
