<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="News, forum, Forum, GossipGirls, Gossip Girl, gossip girl, news forum" />
    <title>Gossip girl</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="./index.css" type="text/css" rel="stylesheet">
    <link href="./commonStyle.css" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/520e072e3a.js" crossorigin="anonymous"></script>
      <script>
          var value = -1000
          function resizeIframe(obj) {
              obj.style.height = obj.contentWindow.document.documentElement.scrollHeight.toString() + 'px';
          }
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- Toast notification -->

<% if (typeof(toast) != "undefined") { %>
    <div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 11">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">

            <div class="toast-header">
                <% switch(toast.type) {
                    case 2:
                        %> <i class="fa-solid fa-check toast-icon" style="color:grey;"></i> <%
                    break

                    case 1:
                        %> <i class="fa-solid fa-envelope toast-icon" style="color:black;"></i> <%
                    break
                }
                if (toast.type < 0) {
                    %> <i class="fa-solid fa-xmark toast-icon" style="color:red;"></i> <%
                }%>
                <strong class="me-auto m-2">
                    <%=toast.title%>
                </strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body m-8">
                <%=toast.message%>
            </div>

        </div>
    </div>
<script>
    function showToast() {
        let toastElement = document.getElementById('liveToast')
        let toast = new bootstrap.Toast(toastElement)
        toast.show()
    }
</script>



<body onload="showToast();">
<% } else { %>
<body onload="">
<% } %>
    <%-include('fragments/header.ejs');%>

    <section class="pb-5" style="padding-top: 50px;">
        <div class="">
            <div class="row">
                <div class="col-lg-10 col-xl-8">
                    <div class="p-5 rounded" style="border: 1px solid black; padding:0!important;">
                        <!-- Bootstrap carousel-->
                        <div class="carousel slide carousel-fade" id="carouselExampleIndicators" data-ride="carousel">
                            <!-- Bootstrap controls [dots]-->
                            <% if (user.isAdmin) { %>
                            <span style="display: table!important; margin: 0 auto!important;">
                                <button class="btn btn-outline-success" type="submit" onClick="javascript:window.location.href='/updateNews';"><i class="fa-solid fa-arrows-rotate"></i></button>
                            </span>
                            <% } %>
                            <span style="display: table!important; margin: 0 auto!important;">
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" style="margin-right:256px!important;" role="button" data-slide="prev">
                                <i class="fa fa-angle-left text-dark text-lg" style="color: var(--pink)!important;"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <!-- Carousel slide-->
                            <a style="margin-right:256px!important;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo0" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                                <div class="text-center"><i class="fa-solid fa-eye margin-auto" style="color: var(--pink)"></i></div>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <i class="fa fa-angle-right text-dark text-lg" style="color: var(--pink)!important;"></i>
                                <span class="sr-only">Next</span>
                            </a>
                            </span>
                            <!-- Bootstrap inner [slides]-->
                            <div class="carousel-inner px-5 pb-7">
                                <div class="navbar-collapse collapse" id="navbarTogglerDemo0" style="">
                                <% if (typeof(news) !== undefined && typeof(news) !== 'undefined') { %>
                                <% for(var i=0; i<news.length; i+=3) { %>
                                       <% if(news[i].language === "russian" || news[i].language === "english") {%>
                                        <span class="carousel-item d-inline" style="z-index:0!important">
                                            <table class="table">
                                            <tr class="row">
                                            <% for(var j=i; j<i+3 && j != news.length; j++) { %>
                                                    <td class="media col">
                                                        <% if (news[j].link) { %>
                                                        <a title="Source Title" style="position: relative; bottom:0" href="<%=news[j].link%>"><i class="fa-solid fa-info" style=""></i> More info</a>
                                                        <%}%>
                                                    <button class="btn btn-secondary hci" type="submit" onClick="javascript:window.location.href='/createPost?newsLink=<%= news[j].link%>';">React</button>
                                                        <% if (news[j].image_url) { %>
                                                    <img class="news-image" src="<%=news[j].image_url%>" alt="" width="75">
                                                    <% } %>
                                                      <% if (news[j].title) { %>
                                                        <p class="news-title"><%=news[j].title%></p>
                                                      <% } %>
                                                      <% if (news[j].description) { %>
                                                        <p class="news-description"><%=news[j].description%></p>
                                                      <% } %>
                                                    </td>
                                                <%}%>
                                            </tr>
                                            </table>
                                            <tr class="row">
                                                <td class="col">
                                                    <table class="table">
                                                        <tr class="row">
                                                            <% for(var j=i; j<i+3 && j != news.length; j++) { %>
                                                            <td class="col">
                                                            <% if (news[j].content) { %>
                                                            <p style=""><%=news[j].content.slice(0, 1000)%>...</p>
                                                            <%}%>
                                                            </td>
                                                            <%}%>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </span><% } %>
                                <%}%>
                                    <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="section-small" style="">
    <form class="col align-self-center" style="margin: auto;" action="/search" method="get">
                <span class="input-group align-middle">
                    <input type="search" class="form-control" name="word" placeholder="Search..." aria-label="Search" style="margin-bottom: 0!important;">
                    <button type="submit" class="btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Create a new question."><i class="fa-solid fa-magnifying-glass"></i></button>
                </span>
    </form>
</section>

<section class="section-small" style="">
    <table class="table text-center">
    <tr class="row">
    <%  if (topics !== undefined) { let images = ['allnews.jpg', 'worldnews.jpg', 'eventnews.jpg', 'storynews.jpg', 'societynews.jpg'] %>
    <%for (let i = 0; i < topics.list.length; i++) { %>
        <td class="col">
            <% if (i == 0) { %>
            <input class="form-check-input" style="background-image: url('/image?img=<%=images[i]%>')" type="radio" checked="checked" name="inlineRadioOptions" id="inlineRadio<%=i%>" value="" onchange="loadMore('<%=topics.list[i]%>'); loadMore('<%=topics.list[i]%>'); loadMore('<%=topics.list[i]%>')">
            <% } else { %>
            <input class="form-check-input" style="background-image: url('/image?img=<%=images[i]%>')" type="radio" name="inlineRadioOptions" id="inlineRadio<%=i%>" value="" onchange="loadMore('<%=topics.list[i]%>'); loadMore('<%=topics.list[i]%>'); loadMore('<%=topics.list[i]%>')">
            <% } %>
        </td>
        <!--<button onclick="loadMore('<%=/*topics.list[i]%>')"><%=topics.list[i]*/%></button>-->
    <% }} %>
    </tr>
        <tr class="row">
            <%  if (topics !== undefined) %>
            <%for (let i = 0; i < topics.list.length; i++) { %>
            <td class="col">
                <label class="form-check-label" for="inlineRadio<%=i%>" style="border: none!important"><%=topics.list[i]%></label>
            </td>
            <!--<button onclick="loadMore('<%=/*topics.list[i]%>')"><%=topics.list[i]*/%></button>-->
            <% } %>
        </tr>
    </table>
</section>

<section class="section-small" style="display: flex;align-items: center;justify-content: center;">
    <table class="table text-center">
        <tr class="row">
        <td class="col">
            <i class="fa-solid fa-trophy"></i>
            <input checked="checked" class="form-check-input small-radio" type="radio" name="contr-radio" value="" onchange="changeSort('0')" >
        </td>
        <td class="col">
            <i class="fa-solid fa-thumbs-down"></i>
            <input class="form-check-input small-radio" type="radio" name="contr-radio" value="" onchange="changeSort('1')">
        </td>
        <td class="col">
            <i class="fa-solid fa-spray-can-sparkles"></i>
            <input class="form-check-input small-radio" type="radio" name="new-radio" value="" onchange="changeSort('2')">
        </td>
        <td class="col">
            <i class="fa-solid fa-calendar-xmark"></i>
            <input class="form-check-input small-radio" type="radio" name="old-radio" value="" onchange="changeSort('3')">
        </td>
        </tr>
        <tr class="row">
            <td class="col">
                <label class="form-check-label" for="best-radio">Best</label>
            </td>
            <td class="col">
                <label class="form-check-label" for="contr-radio">Controversial</label>
            </td>
            <td class="col">
                <label class="form-check-label" for="new-radio">New</label>
            </td>
            <td class="col">
                <label class="form-check-label" for="old-radio">Old</label>
            </td>
        </tr>
    </table>
</section>

    <div class="container center" id="posts">
    <% if (typeof(posts) !== undefined && typeof(posts) !== 'undefined') { %>
            <% if (posts.length <= 0) { %>
            <div class="container center" style="text-align: center">Nothing found</div>
            <% } %>
            <% for (let i = 0; i < posts.length; i++) { %>
        <iframe onload="resizeIframe(this)" frameborder="0" marginwidth="0" marginheight="0" scrolling="NO" width="100%" height="100%" src="/getPost?topic=undf&index=<%=posts[i]._id%>"></iframe>
            <% } %>
        <% } %>
    <!-- <iframe onload="resizeIframe(this)" frameborder="0" marginwidth="0" marginheight="0" scrolling="NO" width="100%" height="100%" src="/getPost?tag="></iframe> -->

    </div>

    <!-- Load More Button -->
    <div class="container hcenter">
        <button id="load-more-button" type="button" class="btn btn-outline-warning center_button_cards" name="Load_more_cards">Load more cards</button>
    </div>
<div class="chatBox-nav">
    <div style="background-color: var(--dark-s); position:absolute;bottom: 0; height:40px; left:-60px; right: 0px;"></div>
    <button onclick="
    let chats = document.getElementsByClassName('chatIframe')

    for (let i = 0; i < chats.length; i++) {
        if (chats[i].style.zIndex > 0) {
            chats[i].style.zIndex = -1000
        } else {
            chats[i].style.zIndex = 1000
        }
    }
    if (value > 0) {
            value = 1000
        } else {
            value = -1000
        }

    " class="navbar-toggler" type="button" style="position:absolute; bottom: 0; left: -64px;" data-toggle="collapse" data-target="#iframeToggle" aria-controls="" aria-expanded="false" aria-label="Toggle navigation">
        <div class="navbar-toggler-icon text-center"><i class="fa-solid fa-message margin-auto"></i></div>
    </button>
</div>
<div class="chatBox chatIframe">
    <span class="">
    <div class="navbar-collapse collapse" id="iframeToggle" style="">
    <div class="chatFrame">
    <iframe id="chatBox" class="chatFrame " src="/chat" scrolling="NO"></iframe>
    </div>
    </div>
     </span>
</div>

    <!-- Footer -->
<img class="ebalos" src="/image?img=footer1.jpg">
    <div class="footer container-fluid w-100 center py-4 border-top">
        <footer>
            <div class="row">
                <div class="col">
                    <a href="https://t.me/tunaxxnew">
                        <img class="avatar m8" src="/image?img=nikita.jpg">
                    <h3>Nikita Mordvintsev</h3>
                    <h6>Fullstack developer</h6>
                    <h6>Leader</h6>
                    </a>
                </div>
                <div class="col">
                    <a href="https://t.me/Ecl1ps0">
                        <img class="avatar m8" src="/image?img=daniil.jpg">
                    <h3>Daniil Tsoy</h3>
                    <h6>Fullstack developer</h6>
                    <h6>Assistant</h6>
                    </a>
                </div>
                <div class="col">
                    <a href="https://t.me/ygvfhl">
                        <img class="avatar m8" src="/image?img=islam.jpg">
                    <h3>Islambek Turarbaev</h3>
                    <h6>Tester</h6>
                    <h6>Manager</h6>
                    </a>
                </div>
              <div class="col">
                  <a class="link-dark linkTo" href="https://github.com/Tunaxx-New"><i class="fa-brands fa-github"></i></a>
                  <a class="link-dark linkTo" href="https://whispering-cliffs-82789.herokuapp.com/"><i class="fa-solid fa-server"></i></a>
                  <a class="link-dark linkTo" href="http://tunaxx.me/"><i class="fa-brands fa-digital-ocean"></i></a>
              </div>
            </div>

            <div class="company-div d-flex justify-content-between my-4" style="border-top-color: var(--pink);">
                <ul class="list-unstyled d-flex">
                    <p><b>© 2022 GossipGirls Team. All rights reserved.</b></p>
                </ul>
            </div>
        </footer>
    </div>

    <script>

        var index = 0
        var prevType
        var type
        var sort = '0'
        var prevSort = '0'

        <% if (typeof(posts) !== undefined && typeof(posts) !== 'undefined') { %>
            type = ''
        <% } else { %>
            type = 'All topics'
        <% } %>

        let carousel = document.getElementsByClassName('carousel-item')[0];
        carousel.classList.add('active');

        function changeSort(value) {
            sort = value
            loadMore(type)
            loadMore(type)
            loadMore(type)
        }

        function httpGet(theUrl)
        {
            var xmlHttp = new XMLHttpRequest()
            xmlHttp.open("GET", theUrl, false)
            xmlHttp.send(null)
            return xmlHttp.responseText
        }
        window.addEventListener('beforeunload', () => {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("demo").innerHTML = this.responseText;
                }
            };
            xhttp.open("GET", "/exit", true);
            xhttp.send();
        })

        var loadMoreButton = document.getElementById('load-more-button')
        loadMoreButton.addEventListener('click', () => {
            loadMore()
        })
        function loadMore(tp) {
            loadMoreButton = document.getElementById('load-more-button')
            if (tp !== null && tp !== undefined) {
                prevType = type
                type = tp
            }

            const err = httpGet("/getPost?topic=" + encodeURI(type) + "&index=" + index + "&sort=" + sort)
            let posts = document.getElementById('posts')
            if (prevType !== type) {
                posts.innerHTML = ""
                index = 0
            }
            if (prevSort !== sort) {
                posts.innerHTML = ""
                index = 0
            }
            prevSort = sort
            loadMoreButton.style.visibility = 'visible'
            if (err === 'no') {
                loadMoreButton.style.visibility = 'hidden'
                return false
            }

            var iframe = document.createElement("iframe")
            iframe.frameborder = 0
            iframe.marginwidth = 0
            iframe.marginheight = 0
            iframe.scrolling = "NO"
            iframe.width = "100%"
            iframe.src = "/getPost?topic=" + encodeURI(type) + "&index=" + index + "&sort=" + sort
            iframe.addEventListener('load', () => {
                resizeIframe(iframe)
                if (iframe.contentWindow.document.body.innerHTML === 'no')
                    iframe.remove()
            })

            index++
            prevType = type
            posts.append(iframe)
            return true
        }

      //When scrolled down load posts
      window.addEventListener('scroll', (event) => {
          if ((window.innerHeight + window.scrollY) + 100 >= document.body.offsetHeight)
          {
              loadMore(type)
          }
      })
      loadMore(type)
      loadMore(type)
      loadMore(type)

      // Update post height every 100 ms
      setInterval(function() {
          let iframes = document.getElementsByTagName('iframe')
          for (let i = 0; i < iframes.length; i++) {
              if (iframes[i].id !== 'chatBox')
                resizeIframe(iframes[i])
          }
        }, 100);

    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
